<% @shelters.each do |shelter| %>
  <h3>Name: </h3><%= shelter.name %>
  <h3>Location: </h3><%= shelter.location %>
  <h3>Description: </h3><%= shelter.description %><br><br>

  <%= link_to "Show Shelter", shelter %>

<% end %>
