<h1>Create a Hike</h1>

<%= form_for @hike do |f| %>
<%= f.collection_select(:trail_id, Trail.all, :id, :name, prompt: "Trail") %>
<button type="button" class="btn btn-primary btn-sm"><%= f.submit "Submit", class: "submit" %></button>



<% end %>
