// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
  margin: 0px auto
}

.img-fluid{
  max-width: 200px;
  max-height: 200px;
}

.img {
    max-width: 80px;
    max-height: auto;
  }

  .profile-pic {
    max-width: 200px;
    max-height: auto;
  }

  .submit {
    all: unset;
  }


body.create {
  background-image: url(https://www.trek.is/media/1633/best-hikes-in-iceland-8.jpg);
  background-color: green;
  background-size: cover;
}
